<mat-card class="mt-3 shadow-sm p-3 mb-5 bg-white rounded">
  <div class="d-flex justify-content-around">
    <mat-card *ngFor="let product of products" class="mat-card-color">
      <span
        ><strong>{{ product.category?.name }}</strong> </span
      ><br />
      <div>
        Download: {{ product.speedDownload + " MB" }} <br />
        Upload: {{ product.speedUpload + " MB" }} <br />
        {{ product.valueWifi ? product.valueWifi : "Wifi Grátis" }} <br />
        {{ product.taxaAdesao ? product.taxaAdesao : "Sem Taxa de Adesão" }}
        <br />
        Valor: {{ product.value | currency: "BRL" }}
      </div>

      <div class="mt-2">
        <button class="btn btn-success">
          Contrate Agora &nbsp;<i class="fa-brands fa-whatsapp"></i>
        </button>
      </div>
    </mat-card>
  </div>
</mat-card>
