<div class="mt-3">
  <div class="d-flex justify-content-around">
    <mat-card class="mat-card-color">
      <strong>Starter</strong> <br />
      Velocidade: 50MB <br />
      Fibra ate sua casa <br />
      Adesao do plano 0800 <br />
      Valor: 49,90
    </mat-card>
    <mat-card class="mat-card-color">
      <strong>Basic</strong> <br />
      Velocidade: 100MB <br />
      Fibra ate sua casa <br />
      Adesao do plano 0800 <br />
      Valor: 79,90
    </mat-card>
    <mat-card class="mat-card-color">
      <strong>Professional</strong> <br />
      Velocidade: 300MB <br />
      Fibra ate sua casa <br />
      Adesao do plano 0800 <br />
      Valor: 99,90
    </mat-card>
    <mat-card class="mat-card-color">
      <strong>Ultra</strong> <br />
      Velocidade: 450MB <br />
      Fibra ate sua casa <br />
      Adesao do plano 0800 <br />
      Valor: 129,90
    </mat-card>
    <mat-card class="mat-card-color">
      <strong>Supreme</strong> <br />
      Velocidade: 600MB <br />
      Fibra ate sua casa <br />
      Adesao do plano 0800 <br />
      Valor: 149,90
    </mat-card>
  </div>
</div>
