<mat-card class="container">
  <mat-card-title>Planos</mat-card-title>
  <div class="mt-2" *ngFor="let product of listProducts">
    <mat-card>
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ product.name }}</span>
          <span class="fieldDescription">{{ product.description }}</span>
        </div>
        <div>
          <button
            class="btn btn-secondary btn-sm"
            (click)="openDialogProduct(product)"
            matTooltip="Editar categoria"
          >
            <em class="fa-solid fa-pen-to-square fa-2xs"></em>
          </button>
          <button (click)="openDeleteProduct(product.id)" class="btn btn-danger btn-sm" matTooltip="Deletar categoria">
            <em class="fa-solid fa-trash-can fa-2xs"></em>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <button (click)="openDialogProduct()" [disabled]="lengthCategory === '0'" class="mt-2 btn btn-primary">
    Adicionar
  </button>
</mat-card>
<div>
  <mat-paginator
    #paginacao
    [length]="totalItens"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="trocarPagina()"
  >
  </mat-paginator>
</div>