<mat-card class="mt-2 container">
  <mat-card-title>Categorias</mat-card-title>
  <div class="mt-2" *ngFor="let category of listCategory">
    <mat-card >
      
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ category.description}}</span>
        </div>
        <div>
          <button class="btn btn-secondary btn-sm" (click)="addDialogCategory(category)" matTooltip="Editar categoria">
            <i class="fa-solid fa-pen-to-square fa-2xs"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="openModalDeleteCategory(category.id)" matTooltip="Deletar categoria">
            <i class="fa-solid fa-trash-can fa-2xs"></i>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <button (click)="addDialogCategory()" class="mt-2 btn btn-primary">
    Adicionar Categoria
  </button>
</mat-card>
<div>
  <mat-paginator
    #paginacao
    [length]="totalItens"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="trocarPagina()"
    >
  </mat-paginator>
</div>
