<div class="bg-dark barra-superior">
</div>

<mat-card class="container border" style="margin-top: 40px;">
  <div class="mt-2 d-flex justify-content-between">
    <button (click)="redirecionarPagePrincipal()" class="btn btn-success">
      <em class="fa-solid fa-arrow-left"></em>&nbsp; Voltar a pagina principal
    </button>

    <button (click)="sair()" class="btn btn-danger">
      <em class="fa-solid fa-arrow-right-from-bracket"></em>&nbsp; Sair
    </button>
  </div>

  <app-list-products></app-list-products>

  <app-list-category></app-list-category>
</mat-card>
