<div >
<button (click)="sair()" class="btn btn-danger">Sair</button>

  <mat-card  class="container">
    <mat-card-title>Produtos</mat-card-title>
    <div class="mt-2" *ngFor="let item of list">
      <mat-card (click)="save(item)">
        {{ item.name }}
        {{ item.idade }}
      </mat-card>
    </div>
    <button (click)="save()" class="mt-2 btn btn-primary">Adicionar</button>
  </mat-card>
  
  <mat-card class="mt-2 container">
    <mat-card-title>Categorias</mat-card-title>
    <div class="mt-2" *ngFor="let item of list">
      <mat-card (click)="saveCategory(item)">
        {{ item.name }}
        {{ item.idade }}
      </mat-card>
    </div>
  
    <button (click)="saveCategory()" class="mt-2 btn btn-primary">Adicionar Categoria</button>
  </mat-card>
</div>

