.teste {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}